<div class="nav toggle">
    <div class="dropdown">
        <a id="menu_toggle"  class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="/Dashboard/home">
                    Acceuil
                    <i class="fa fa-home pull-right"></i>
                </a>

            </li>
            <li class="divider"></li>
            <li class="dropdown">
                <a>Statistiques
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Dashboard/new">Nouveau
                            <span class="fa fa-line-chart pull-right"></span>
                        </a></li>
                    <li><a href="/Dashboard/statistiques/search">Modifier
                            <span class="fa fa-edit pull-right"></span>
                        </a></li>
                </ul>
            </li>
            <li class="dropdown"><a>Dashboards
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Dashboard/create/new">Nouveau
                            <span class="fa fa-window-maximize pull-right"></span>
                        </a></li>
                    <li><a href="/Dashboard/dashboards/consulte">Consulter
                            <span class="fa fa-dashboard pull-right"></span>
                        </a></li>
                    <li><a href="/Dashboard/dashboards/search">Modifier
                            <span class="fa fa-pencil pull-right"></span>
                        </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Utilisateurs
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\Dashboard\users\ajout">Nouveau
                            <span class="fa fa-user-plus pull-right"></span>
                        </a></li>
                    <li><a href="\Dashboard\users">Modifier
                            <span class="fa fa-user-o pull-right"></span>
                        </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Rôles
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Nouveau
                            <span class="fa fa-users pull-right"></span>
                        </a></li>
                    <li><a href="#">Modifier
                            <span class="fa fa-vcard pull-right" ></span>
                        </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>