<!-- Modal content-->
<div style="max-height: 600px; overflow-y: auto">
<div class="modal-body" >
    <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr><th ng-repeat="att in statAttributes track by $index"  data-priority="{{$index}}">{{att}}</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in statData track by $index">
                <td ng-repeat="att in statAttributes track by $index">{{a[att]}}</td>
            </tr>
        </tbody>
    </table>

</div>
<div class="modal-footer" style="margin-top: 40px">
    <button type="button" class="btn btn-default" ng-click="closeModal()">Fermer</button>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $('#table').DataTable();
    })
</script>
